@tailwind base;
@tailwind components;
@tailwind utilities;


/* Ocultar scrollbar en todos los navegadores */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE y Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari y Opera */
}